body {
	width:100%;
	margin:0px auto;
	font-family:'Lato';
	color:#262626;
	}

a {
	text-decoration:none;
	color:#4d584e;
	}
.symbol_small {
	width:20px;
	height:20px;
	vertical-align:top;
	margin:0px 5px 0 0;

	}
a:hover {
	color:#619064;
	}
	
select:hover {
	cursor:pointer;
	}
#header_wrapper{
	width:100%;
	background-color:#ececec;
	border-bottom:1px solid #d6d6d6;
	height:50px;
	position:fixed;
	margin:0px auto;
	padding:5px 0px;
	color:#20241b;
	z-index:1;
	opacity:0.9;
	
	}
	
#header {
	width:1000px;
	margin:0px auto;
	height:50px;
	}
	
#header_logo {
	width:50px;
	height:50px;
	float:left;
	margin-right:10px;
	}

#search {
	height:50px;
	width:600px;
	display:block;
	float:left;
	margin-right:10px;
	}
#search_input{
	height:30px;
	margin:8px 0;
	padding:0;
	border:1px solid #d6d6d6;
	border-radius: 4px;
	width:420px;
	padding-left:10px;
	color:#d6d6d6;
	 vertical-align:top;
	}
#search  select {
	 vertical-align:top;
	 height:32px;
	 border:1px solid #d6d6d6;
	 border-radius: 4px;
	 margin:8px 0 0 10px;
	  background: url(../img/search_down.png) no-repeat right transparent;
	  -webkit-appearance: none;
	  width:100px;
	}
#search_button {
	width:40px;
	height:32px;
	margin:8px 0 0 -5px;
	border:1px solid #d6d6d6;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	vertical-align:top;
	background: url(../img/search.png) no-repeat center transparent;
	}
#search_button:hover {
	cursor:pointer;
	}	
#welcome_user {
	font-family:'Roboto';
	font-size:15px;
	height:20px;
	padding:15px;
	display:block;
	float:left;
	}
#welcome_user a {
	padding-right:15px;
	}


#content_wrapper {
	width:1000px;
	margin:0px auto;
	position:relative;
	top:100px;
	}

	
.container {
	border:1px solid #d6d6d6;
	border-radius:8px;
	height:480px;
	width:100%;
	font-family:'Lato';

	}	
.container_heading {
	background-color:#ececec;
	height:20px;
	padding:10px;
	font-size:16px;
	font-weight:bold;
	}
	
.actual_content {
		padding:10px;
	}
	
	
.error_message {
	background-color:#d1f6ff;
	padding:10px 0px;
	width:350px;
	border:1px solid #99d7e7;
	border-radius:4px;
	}	
.error_message h4 {
	text-align:center;
	padding:5px;
	margin:0;
	border-bottom:1px solid #99d7e7;
	color:#1f5360;
	font-family:'Lato';
	}
.error_content {
font-size:14px;
	padding:10px;
	text-align:center;
	color:#2f859b;
	}